body {
  box-sizing:border-box;
  margin:0px;
  font-family: PT Sans, DejaVu Sans, Arial, sans;
  font-size:20px;
}
.container {
  position: fixed;
  width: 100%;
  height: 100%;
}
.container-inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.left-sidebar {
  width:30%;
  overflow: auto;
  max-width: 250px;
  background-color: #4242EA;
}
.left-sidebar > div {
  padding:15px;
}
.navigation-links {
  padding-left: 0px;
  padding-right: 0px;
}
.navigation-link-item {
  position: relative;
  padding: 5px 15px;
}
.navigation-link-item:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,rgba(255,255,255,.03) 0,rgba(255,255,255,1.1) 50%,rgba(255,255,255,.03) 100%);
}
.navigation-link-item a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.navigation-link-item a:visited {
  color: white;

}
.navigation-link-item a:hover {
  color: black;

}
.content {
  width:100%;
  overflow: auto;
  padding:40px;

}
.content > * {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.home-anchor {
  width: 100%;
  background-color:#EDFF00;
  color:black;
}

.home-anchor a:link {
  color:black;
  text-decoration: none;
}
.home-anchor a:link {
    color: white;
}
.home-anchor a:visited {
    color: white;
}
.home-anchor a:hover {
    color: white;
}
.home-anchor a:active {
    color: white;
}

.completed {
  text-decoration: line-through;
}
.image-label {
  font-size:8px;
}
pre {
  box-shadow: 0 2px 4px rgba(0,0,0,0.15),0 0 3px rgba(0,0,0,0.15);
  margin: 40px 0;
}
code {
  background-color: #eff0f1;
}
ol, ul {
  padding-left: 50px;
}
